extends layout
block content
    if(toShow == null)
        h2 no instance to update!
    else
        h1= title
        - let iceid = toShow._id
        - let shape = toShow.shape
        - let icecost = toShow.cost
        - let iceweight = toShow.weight
        div.row(class='mb-2')
            div.mr-1 ID is
                div #{iceid}
                - let actionid = "/resource/ices/" + iceid
        form(id='IceForm', action= actionid, method="PUT")
            div.form-group
                label.iceAttr(for='shape') ice type
                input#shape(type='text', name='shape', value= shape )
            div.form-group
                label.iceAttr(for='weight') ice weight
                input#weight(type='text', name='weight', value= iceweight )
            div.form-group
                label.iceAttr(for='cost') ice cost
                input#cost(type='text', name='cost', value= icecost )
            input(type="submit")
        script.
            document.forms['IceForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Update succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Update failed " + error )
                });
            });